#register-body-bg {
    background-color: #1b1a1f;
    
}

#register-form-bg {
    background-color: #252429;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.75);
    box-shadow: 0 2px 5px #000000bf;
    
}

#register-form-bg > h2 {
    color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}

#register-form-bg > input {
    font-size: small;
}

#signup {
    color: #7f7f81;
    font-size: 13px;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}


#reg-d-name, #reg-d-login, #reg-d-pw {
    margin: 2px;
}

label {
    color: #fefeff;
}

#reg-fullname-input, #reg-login-input, #reg-pw-input {
    background-color: #1e1d22;
    color: white;
    font-size: 10px;
    border-radius: 10px;
    border-color: #333237;
    margin-top: 8px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #333237;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#reg-fullname-input:focus, #reg-login-input:focus, #reg-pw-input:focus{
    border-color: #7751dc;
    outline: none;
    background-color: #2c2a38;
}

#reg-fullname-input::placeholder, #reg-login-input::placeholder, #reg-pw-input::placeholder {
    font-size: 13px;
}

#reg-fullname-input:hover, #reg-login-input:hover, #reg-pw-input:hover {
    border-color: #7751dc;
    background-color: #2c2a38;
}

.error-message {
    color: #7f7f81;
    font-size: 18px;
}

.reg-container {
    text-align: center;
}

.btn-register{
    background-color: #7751dc;
    color: #fffefd;
    
    font-size: 16px;
    
    width: 270px;
    height: 40px;
    margin-top: 20px;
    
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.75);
    box-shadow: 0 2px 2px #000000bf;

    transform-origin: center;
}

.btn-register:hover {
    cursor: pointer;
    background-color: #5D3EB2;
    transform: scale(1.05)
}

.btn-register:active {
    background-color: #403366;
    transform: scale(0.95)
}
